.payment {
  margin: 34px 0;
  align-items: stretch;

  @include for-size(desktop) {
    margin: 60px 0;
  }
}

.payment__img {
  width: 100%;

  @include for-size(tablet) {
    display: none;
  }
}

.payment__img-desktop {
  display: none;

  @include for-size(tablet) {
    width: 100%;
    display: block;
  }
}
