$body-bg: #ffffff;
$header-bg: #064093;
$form-bg: #ffffff;
$form-placeholder: #9096a2;
$button-bg: linear-gradient(
    359.16deg,
    #29d3da -10.5%,
    #0077ff 63.4%,
    #064093 131.75%,
    #084698 131.89%
  ),
  #e10a0a;
$button-border-color: #0077ff;
$reviews-bg: #0077ff;
$primary-text-color: #ffffff;
$secondary-text-color: #29d3da;
$accent-color: #9096a2;
$mobile-menu-text-color: #064093;
$reviews-primary-text-color: #064093;
$reviews-item-bg-color: #ffffff;
$reviews-secondary-text-color: rgba(6, 64, 147, 0.8);
$footer-primary-text-color: #000000;
$part-of-text: #29d3da;
