header {
  position: relative;
  min-width: 100%;

  padding: 18px 0px;
  background-color: $header-bg;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & {
    @include for-size(desktop) {
      min-height: 173px;
      padding: 22px 0px;
      max-height: 140px;
    }
  }
}

header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo-link {
  list-style: none;
  position: relative;
}

// .header .mobile-menu__site-nav {
//   @include for-size(tablet) {
//     display: none;
//   }
// }

.header__logo {
  width: 130px;
  // @include for-size(tablet) {
  //   display: none;
  // }

  // &-desktop {
  //   @include for-size(tablet-only) {
  //     display: none;
  //   }

  //   @include for-size(tablet) {
  //     display: block;
  //   }
  // }
  @include for-size(tablet) {
    width: 300px;
  }
}

.header__info {
  text-align: -webkit-center;

  @include for-size(tablet) {
    display: flex;
    align-items: center;
    
  }
}

.header__info-count {
  max-width: 91px;
  padding: 10px 24px;
  margin-bottom: 6px;

  font-size: 26px;
  font-weight: 900;
  color: #9deff2;

  background: linear-gradient(
      359.16deg,
      #29d3da -10.5%,
      #0077ff 63.4%,
      #064093 131.75%,
      #084698 131.89%
    ),
    #c4c4c4;
  border-radius: 43.5px;

  @include for-size(tablet) {
    display: inline-block;
    text-align: center;
    min-width: 205px;
    margin-right: 12px;
    font-size: 45px;
  }
}

.header__info-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  color: $primary-text-color;

  @include for-size(tablet) {
    font-weight: 600;
    font-size: 17px;
    line-height: 29px;
    max-width: 78px;
  }
}
