html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

// @media screen and (min-width: 320px) {
//   .container {
//     width: 320px;
//     padding-left: 16px;
//     padding-right: 16px;
//   }
// }

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

img {
  display: block;
}

a {
  font-style: none;
  text-decoration: none;
  display: inline-block;
}

svg {
  vertical-align: baseline;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: none;
  background-color: transparent;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.valid {
  border: 3px solid green;
}

.invalid {
  border: 3px solid red;
}
